* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.color-form {
  margin: auto;
  margin-top: 40px;
  width: 80%;
}
.colored-box {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
  border: 1px solid black;
}
.color-inputs {
  display: flex;
}
.color-inputs input {
  margin-left: 15px;
}
.button {
  padding: 1px 15px;
  background-color: lightgrey;
  border: 2px solid black;
}
